* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    
}

header {
    background-color: #016FB9;
    color: #F6AE2D;
}

h1 {
    text-align: center;
    padding: 3em 0;
    font-size: 3em;
}

.container-faq {
    width: 70%;
    height: auto;
    margin: 1em auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questions {
    width: 100%;
    height: auto;
    margin: 0.5em;
}

.visible-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #016FB9;
    border-radius: 1em;
    position: relative;
    z-index: 100;
}

.visible-panel h3 {
    margin-left: 1em;
    padding: 1em 0.5em;
    font-size: 2em;
}

.visible-panel img {
    margin-right: 1em;
    width: 2em;
    cursor: pointer;
}

.hidden-panel {
    padding: 0em 1em;
    /* height: 0em;
    opacity: 0; */
}

.hidden-panel h4 {
    font-size: 2em;
    padding-bottom: 1em;
}

.hidden-panel p {
    line-height: 1.5em;
    padding-bottom: 1em;
}